
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1f655b;
}

/* Cabeçalho */
header {
    text-align: center;
    background-color: #57baab;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

/* Seção do formulário */
section {
    max-width: 600px;
    margin: 20px auto;
    background: rgb(141, 239, 143);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

/* Campos do formulário */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #abffc6;
    border: 1px solid #81ff8e;
    border-radius: 5px;
}

/* Botão de envio */
input[type="submit"] {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #0056b3;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #ffffff;
}
